* {
    padding: 0;
    font-weight: bold;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root {
    --main-padding: 10px;
    --main-box-shadow: 0px 4px 5px #afafaf;
    --shadow: #00000029 0px 2px 8px;
  }

body {
    margin: 0;
}

img, button {
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 30px;
    border: 1px solid #c5c5c5;
    padding: 5px;
    margin: 5px;
}

.container {
    display: grid;
    grid-template-rows: 1fr 4fr 1fr;
    height: 100vh;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 1px 30px #00000080;
    padding: var(--main-padding);
}

.logo {
    display: flex;
}

.book-area {
    display: grid;
    gap: 30px;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    background-color: #dadada;
    padding: var(--main-padding);
}

.book-tile {
    background-color: white;
    padding: var(--main-padding);
    box-shadow: var(--shadow);
}

.book-img {
    width: 50px;
    height: 50px;
}

.footer {
    align-items: center;
    box-shadow: 0 1px 30px #00000080;
    padding: var(--main-padding);
}

.modal {
    position: fixed;
    z-index: 1;
    top: 50%;
    left: 50%;
    width: 300px;
    padding: var(--spacing-lg);
    border-radius: var(--border-radius);
    background-color: var(--grey);
    text-align: center;
    transform: translate(-50%, -50%) scale(0);
    transition: 0.2s ease-in-out;
}